extends ../layout

block content
    div(class='column col-12')
        ul(class="tab tab-block")
            li(class="tab-item active")
                a(href="/admin") Admin etusivu
            li(class="tab-item")
                a(href="/admin/userManagement") Käyttäjien hallinta
    