extends ../layout

block scripts
    script(src="/easy/jquery.easy-autocomplete.min.js")
    script(src="/public/scripts.js")
    link(rel="stylesheet" href="/easy/easy-autocomplete.css")

block content
    -var currentDate = moment().format("YYYY-MM-DD")
    div.columns
        div(class='column col-12')
            ul(class="tab tab-block")
                li(class="tab-item")
                    a(href="/admin/tournamentManagement") Turnausten hallinta
                li(class="tab-item active")
                    a(href="/admin/gamesManagement") Luo uusi turnaus
                li(class="tab-item")
                    a(href="/admin/userManagement") Käyttäjien hallinta
        div(class='column col-12')
            h3.pt-2 Luo uusi turnaus
            if errors 
                div.toast.toast-error Tiedoissa oli virheitä (Virhekoodi: #{errors})
            p  Luo tästä uusi turnaus ja sen pelit
        div(class='column col-12' id='create_games_start')
            h4 Turnauksen tiedot
            form(action="/admin/createGamesSubmit" method="post" class="form-horizontal")
                div.form-group
                    div.col-3
                        label.form-label Turnauksen nimi
                    div.col-6
                        input(id="tournamentName" name='tournamentName' class='form-input' type="text" required)
                div.form-group
                    div.col-3
                        label.form-label Veikkaamisen voi aloittaa
                    div.col-3
                        input(id="tournamentPlayingStartDate" name='tournamentPlayingStartDate' class='form-input' type="date"  min=currentDate required)
                        p.form-input-hint.no-validation Päivämäärä jolloin turnaus muuttuu käyttäjille aktiiviseksi ja veikkaamisen voi aloittaa 
                div.form-group
                    div.col-3
                        label.form-label Turnaus alkaa 
                    div.col-3
                        input(id="tournamentStartDate" name='tournamentStartDate' class='form-input' type="date" min=currentDate required)
                        p.form-input-hint.no-validation Turnauksen alkamisen päivämäärä, jolloin myös veikkaaminen loppuu
                div.form-group
                    div.col-3
                        label.form-label Turnaus loppuu
                    div.col-3
                        input(id="tournamentEndDate" name='tournamentEndDate' class='form-input' type="date" min=currentDate required)
                div.form-group.pt-1-4
                    div.col-3
                        label.form-label Alkusarjan pelit
                    div.col-1
                        input(id="numberOfGames" class='form-input' type="number" min="1" max="50" step="1" value ="24")
                    div.col-2
                        a(class="btn btn-primary" onClick="addGames()" id="addGamesButton") Lisää
                div(class="form-group" id="addGamesSection")
                    div.col-3
                    table.table.col-9
                        thead
                            tr
                                th #
                                th pvm ja aika
                                th joukue 1
                                th 
                                th 
                                th joukue 2
                                th
                                th
                        tbody(id="addGamesSectionTBody")
                            tr(id="exampleRow")
                                td.text-gray 
                                    i X
                                td.text-gray 
                                    i Esimerkki
                                td.text-gray 
                                    i Suomi
                                td.text-gray
                                td.text-gray 
                                    i vs
                                td.text-gray
                                    i Ruotsi
                                td.text-gray 
                                td.text-gray 
                                td.text-gray 
                div.form-group
                    div.col-3
                    div.col-9
                        a(class="text-success" onClick="addRow()" id="addGamesButton") 
                            i(class="fa fa-plus-circle" aria-hidden="true")
                            | Lisää rivi               
                div.form-group.pt-1-4
                    div.col-3
                        label.form-label Lisäykset
                    div.col-6
                        label.form-switch 
                            input(id="winnerBet" name='winnerBet' type="checkbox")
                            i.form-icon
                            | Voittajaveto
                        p.form-input-hint Lisää turnaukseen voittajavedon (1. ja 2. sijat)                    
                div.form-group
                    div.col-3
                    div.col-6
                        label.form-switch
                            input(id="topStriker" name='topStriker' type="checkbox") 
                            i.form-icon 
                            | Maalintekijä 
                        p.form-input-hint Lisää turnaukseen paras maalintekijä osion        
                div.form-group
                    div.col-9
                    div.col-3
                        button(class='btn btn-primary' type='submit' id="submitButton") Luo turnaus
