extends ../layout

block content
    div(class='column col-12')
        ul(class="tab tab-block")
            li(class="tab-item active")
                a(href="/admin/tournamentManagement") Turnausten hallinta
            li(class="tab-item")
                a(href="/admin/gamesManagement") Luo uusi turnaus
            li(class="tab-item")
                a(href="/admin/userManagement") Käyttäjien hallinta
    div.columns
        h3.pt-1-4 Aktiiviset turnaukset:
        table.table.table-horizontal
            tbody
                for t in activeTournaments
                    tr
                        td= t.name
                        td
                            a(href='/#') Päivitä tuloksia
                        td
                            a(href='tournament/' + t.id) Muokkaa
                        td
                            a(href='/#' class="text-error") Deaktivoi turnaus                   
    div.columns
        h3.pt-1-4 Kaikki turnaukset:
        table.table.table-horizontal
            tbody
                for t in allTournaments
                    tr 
                        td= t.name
                        td
                            a(href='/#') Päivitä tuloksia
                        td
                            a(href='tournament/' + t.id) Muokkaa
                        td
                            if t.active
                                a(href='/#' class="text-error") Deaktivoi turnaus
                            else
                                a(href='/#' class="text-success") Aktivoi turnaus

