extends ../layout

block content
    div(class='column col-12')
        ul(class="tab tab-block")
            li(class="tab-item active")
                a(href="/admin/tournamentManagement") Turnausten hallinta
            li(class="tab-item")
                a(href="/admin/gamesManagement") Luo uusi turnaus
            li(class="tab-item")
                a(href="/admin/userManagement") K채ytt채jien hallinta
    h3.pt-2 Aktiiviset turnaukset:
    div.columns
        for t in activeTournaments
            h5(class='col-4')=t.name
            a(href='/#' class='col-2') P채ivit채 tuloksia
            a(href='tournament/' + t.id class='col-4') Muokkaa turnauksen tietoja
            a(href='/#' class='col-2') Deaktivoi turnaus

    h3.pt-2 Menneet turnaukset: