extends ../layout

block scripts
    script(src="/public/scripts.js")

block content
    div(class='column col-12')
        ul(class="tab tab-block")
            li(class="tab-item active")
                a(href="/admin/tournamentManagement") Turnausten hallinta
            li(class="tab-item")
                a(href="/admin/gamesManagement") Luo uusi turnaus
            li(class="tab-item")
                a(href="/admin/userManagement") K채ytt채jien hallinta
    div.columns
        div(class='column col-12')
            span(id="message-row")
    div.columns
        h3.pt-1-4 Turnaukset:
        table.table.table-horizontal
            tbody
                for t in tournaments
                    tr 
                        td= moment(t.datestarts).format('D.M.YYYY')
                        td= t.name
                        td
                            if t.active 
                                span.label.label-success.label-rounded Aktiivinen
                            else
                                span.label.label-error.label-rounded Ei aktiivinen
                        td
                            if t.active
                                a(href='#' class="btn" onclick='activateTournamentButton(event,"' + t.id + '", false)') Muuta aktiivisuutta
                            else
                                a(href='#' class="btn" onclick='activateTournamentButton(event,"' + t.id + '", true)') Muuta aktiivisuutta
                        td
                            a(class="btn" href='tournament/' + t.id + '/results') P채ivit채 tuloksia
                        td
                            a(class="btn" href='tournament/' + t.id) Muokkaa



