extends layout

block content
            div(class='columns')
                h1= 'MM futis veikkaus'
            div(class='columns')
                p= 'Tervetuloa, ' + username 
                a(href='/logout')= '(Kirjaudu ulos)'
            div(class='columns')
                img(src='2018_FIFA_WC.svg.png')/