extends layout

block content
    div(class='column col-12')
        if username == 'admin'
            a(href='/admin' class='btn')= 'Admin työkalut'
    div(class='column col-12')
        p Tämä on etusivu