extends layout

block scripts
    script(src="/public/scripts.js")
    script.
        $(document).ready(function (){
            colorRows()
            const screensize = $( window ).width()
            if(screensize <= '640'){
                mobileFriendlyLists()
            }
        })

block content    
    if activeTournaments.length > 1
        div.columns.pb-2
            div(class='column col-3 col-sm-12')
                span.text-gray Aktiiviset turnaukset:
            div(class='column col-9 col-sm-12')
                for tournament in activeTournaments
                    span.chip
                        a(href="/home/"+tournament.id)= tournament.name
    div.columns
        div(class='column col-12')
            img(src='/public/img/banner.png' class='img-responsive banner')
    +tournamentView(tournament, currentUser)