html
    head   
        title= 'MM futis veikkaus | ' + title
        link(rel="stylesheet", href="https://unpkg.com/spectre.css/dist/spectre.min.css")/
    body
        div(class='container grid-lg')
            div(class='columns')
                h1= 'MM futis veikkaus'
            div(class='columns')
                p= 'Tervetuloa jälleen futisveikkauksen pariin!'
            div(class='columns')
                img(src='2018_FIFA_WC.svg.png')/