extends layout

block content    
    div.columns
        h1 Info
    div.columns
        p(style="white-space: pre-wrap;")!= htmlContent
    div.columns
        p.text-gray= moment(info.created).format("D.M.YYYY")
    if user.username == 'admin'
        div.columns
            div.col-12
                form.form(action="/content/new/info" method="POST")
                    div.form-group
                        label.form-label Päivitä sisältö
                        textarea.form-input(name="content" type="text" style="white-space: pre-wrap;")= info.content
                    button(class='btn btn-primary float-right' type='submit') Päivitä