html
    head   
        title= 'MM futis veikkaus'
        link(rel="stylesheet", href="https://unpkg.com/spectre.css/dist/spectre.min.css")
        link(rel="stylesheet" type="text/css" href="/public/css/updates.css")
        link(rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        script(src="https://code.jquery.com/jquery-2.1.3.min.js")
        block scripts

    body.site
        header.navbar.bg-dark
            div.navbar-grid-xl
                section.navbar-section
                    a(href="/" class="btn btn-link text-light input-group-btn") Sivun nimi placeholder
                section.navbar-section
                    if user && user.username
                        a(href="#" class='btn-link text-light nav-link')
                            i(class="fa fa-info-circle card-icon" aria-hidden="true") 
                            span Info             
                        a(href="/participate" class='btn-link text-light nav-link')
                            i(class="fa fa-check-square-o card-icon" aria-hidden="true") 
                            span Osallistu
                        div.dropdown.dropdown-right
                            div.btn-group
                                a(href="/user/" class="btn btn-primary")
                                    span(class="icon icon-people")
                                    span.nav-username= user.username
                                a(class="btn btn-primary dropdown-toggle" tabindex="0")
                                    i(class="icon icon-caret")
                                ul.menu.text-left
                                    if user.username == 'admin'
                                        li.menu-item 
                                            a(href="/admin/tournamentManagement") Admin työkalut
                                    li.menu-item 
                                        a(href="/user/logout") Kirjudu ulos
                    else
                        div(class="input-group input-inline")
                            a(href="/user/login" class="btn btn-link text-light input-group-btn")= 'Kirjaudu sisään'                    
        main.content
            div(class='container grid-xl')
                block content
        footer.footer.bg-gray
            div.footer-grid-xl
                div.column.col-3.col-sm-4 
                    dl
                        dt Sivun otsikko
                div.column.col-3.col-sm-4 
                    dl
                        dd
                            a(href="/home" class="text-gray") Etusivu
                        dd
                            a(href="/participate" class="text-gray") Osallistu
                        dd
                            a(href="#" class="text-gray") Info
                div.column.col-3.col-sm-4                    
                    dl
                        if user && user.username
                            dd
                                a(href="/user" class="text-gray") Käyttäjä
                            dd
                                a(href="/logout" class="text-gray") Kirjaudu ulos
                        dd
                            a(href="#" class="text-gray") Ota yhteyttä
                div.column.col-3.hide-sm
                    dl
                        dd
                            i(class="fa fa-trophy fa-5x faded" aria-hidden="true")