html
    head   
        title= 'MM futis veikkaus'
        link(rel="stylesheet", href="https://unpkg.com/spectre.css/dist/spectre.min.css")/
    body
        div(class='container grid-lg')
            block content