mixin gamesVersusElement(game)
    div.columns
        div.col-md-12
            img(src="/public/img/flags/" + (game.team_1_country_code || 'placeholder') + ".png" class="img-flag-tiny")
            span=game.team_1
        div.hide-md
            | &nbsp; 
            | -
            | &nbsp;
            span=game.team_2
            img(src="/public/img/flags/" + (game.team_2_country_code || 'placeholder') + ".png" class="img-flag-tiny")
        div.col-md-12.show-md
            img(src="/public/img/flags/" + (game.team_2_country_code || 'placeholder') + ".png" class="img-flag-tiny")
            span=game.team_2