extends layout

block content
    div.columns
        h1 Rekisteröidy
    div.columns
        if regErrorMsg
            span(class='label label-error')= regErrorMsg
    div.columns
        div.form-group
            form(action='/register', method='POST')
                label.form-label Käyttäjätunnus
                input(type='text', name='username' class="form-input" required)
                label.form-label Sähköposti
                input(type='email', name='email' class="form-input" required)     
                label.form-label Salasana
                if pwdErrorMsg
                    span(class='label label-error')= pwdErrorMsg
                input(type='password', name='password' class="form-input" required)
                label.form-label Salasana uudestaan
                input(type='password', name='password2' class="form-input" required)
                input(type='submit', value='Rekisteröidy', class='btn btn-primary')