extends ./layout

block content
    h1= user.username
    div(class='column col-12')
        div
            p
            table(class='table table-striped')
                thead
                    tr
                        th Sähköposti
                        th Rekisteröitynyt
                    tr
                        td #{user.email}
                        td #{moment(user.dateRegistered).format("D.M.YYYY, HH:mm")}
        div(class='column col-12')
            p Päivitä salasanasi (EI VIELÄ TOTEUTETTU)
            form(action='/user', method='POST')
                label.form-label Salasana
                if pwdErrorMsg
                    span(class='label label-error')= pwdErrorMsg
                input(type='password', name='password' class="form-input" required)
                label.form-label Salasana uudestaan
                input(type='password', name='password2' class="form-input" required)
                input(type='submit', value='Päivitä salasana', class='btn btn-primary login-button')