.navbar {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    margin-bottom: 1.4em;
}

@media (max-width: 640px) {
    #info-button {
        display: none
    }
    #participate-button {
        display: none
    }
}

@media (min-width: 640px) {
    #info-menu-item {
        display: none
    }
    #participate-menu-item  {
        display: none
    }
    #menu-item-divider {
        display: none
    }
}

.navbar-grid-xl {
	max-width: 1296px;
	width: 100%;
	align-items: stretch;
	display: flex;
	display: -ms-flexbox;
	-ms-flex-align: stretch;
	-ms-flex-pack: justify;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}

.menu .menu-item > a {
	color: #50596c;
}

.btn-link.text-light.nav-link {
    padding-right: 1.4em;
}

.logo-text {
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

.nav-username{
    padding-left: 10px;
}


body {
    background-color: #fff;
}


.banner {
	margin-bottom: 1.4em;
}

.container {
    background: white;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    width: 100%;
/*     min-height: 900px; */
}

.content {
    flex: 1 0 auto;
  }

.site{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.login-button {
    margin-top: 1.4em;
}

.btn-primary.btn-danger {
    background: #e85600;
    border-color: #d25004;
    color: #fff;
}
@media (max-width: 640px) {
    #index-tournament-name {
        font-size: 25px;
    }
}

/* Custom paddings */

.pb-1-4 {
    padding-bottom: 1.4em;
}

.pt-20 {
    padding-top: 20px;
}

.pt-1-4 {
    padding-top: 20px;
}
.ptb-1-4 {
    padding-top:1.4em;
    padding-bottom:1.4em;
}

.plt-20 {
	padding: 20px 0px;
}

.mtb-1-4 {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
}
.img-flag-small {
	height: 36px;
	padding-left: 8px;
}

.img-flag-tiny {
    width: 30px;
    padding-right: 5px;
    padding-left: 5px;
}

.form-input-hint.no-validation {
    color: #acb3c2 !important;
}

.content {
    flex: 1;
}

textarea.form-input.content-textarea {
    height: 300px;
}

.btn.btn-link.text-light {
	background: 0 0;
	border-color: transparent;
	color: #fff;
}


/* cards */

.card {
	background: #fff;
	border: transparent;
	border-radius: .1rem;
	display: flex;
	display: -ms-flexbox;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 1.4em 0.4em;
}

.card-heading {
    padding: 5px 5px 5px 5px;
    border-bottom: 2px solid #F8F9FA;
}

.card-icon {
    padding-right: 0.4em;
}


/* Radio button styling */

input[type=radio] {
    display:none; 
    margin:10px;
}


input[type="radio"] + label {
	display: inline-block;
	margin: -2px;
	padding: 4px 12px;
	background-color: #e7e7e7;
	border-color: #ddd;
	margin: -2px 0.4em;
}

input[type="radio"]:checked + label {
	background-image: none;
	background-color: #5755d9;
	color: white;
}

/* Landing page */



@media (max-width: 600px) {
    body.landing-page {
        background-image: unset;
        background-color: #ffffff;
    }
}

@media (min-width: 600px) {
    body.landing-page {
        background-image: url('/public/img/background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.container.landing-page {
    max-height: 350px;
    padding: 0;
}

.landing-info {
	background-color: #5755d9;
	color: white;
    padding: 1.4em;
    text-align: center;
    height: 350px;
}

.columns.landing-page {
	height: 100%;
}

.column.landing-login {
	padding: 1.4em;
    padding-left: 2.4em;
    height: 350px;
}

.landing-icon {
	height: 70px;
}

.landing-icon-set {
	padding-top: 1.4em;
	text-align: center;
}

.landing-info:before {     
    content: ' ';
    display: inline-block;
    vertical-align: middle; 
    height: 100%;
}

.landing-info-content {
    display: inline-block;
    vertical-align: middle;          
}

/* Footer */ 

.footer-grid-xl {
	max-width: 1296px;
	width: 100%;
	align-items: stretch;
	display: flex;
	display: -ms-flexbox;
	-ms-flex-align: stretch;
	-ms-flex-pack: justify;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
    margin: 0 auto;
    height: 200px;
}

.footer {
	padding: 1.4em;
	margin-top: 1.4em;
}


.faded {
    opacity: 0.2
}

.fade-out {
    opacity: 0;
    transition-duration: 750ms;
}


.bg-success-important {
	background: #32b643 !important;
	color: #fff;
}

.bg-primary-imporant {
	background: #5755d9 !important;
	color: #fff;
}

.dash-teams {
	padding: 0px 2px 0px 2px;
}