extends ../layoutLanding

block content

    div.columns.landing-page
        div(class="column col-md-6 col-sm-12 landing-login")
            h1 Kirjaudu sisään      
            if loginErrorMsg
                span(class="toast toast-error")= loginErrorMsg
            if regSuccesMsg
                span(class="toast toast-success")= regSuccesMsg
            div(class='form-group')
                form(action='/user/login', method='POST')
                    label.form-label Käyttäjätunnus
                    input(type='text', name='username' class="form-input col-8" autofocus)
                    label.form-label Salasana
                    input(type='password', name='password' class="form-input col-8")
                    input(type='submit', value='Kirjaudu', class='btn btn-primary login-button col-4')
                    a(class='btn btn-link login-button col-4 col-mr-auto', href="/user/register") Rekisteröidy
        div(class='column col-md-6 col-sm-12 landing-info')
            div.landing-info-content
                h3 Tervetuloa Futis sivulle!
                p Aloita kirjautumulla sisään tai rekisteröitymällä.
                div.landing-icon-set.columns
                    div.col-4
                        img(src="/public/img/icons/player-shirt.png" class="landing-icon")
                    div.col-4
                        img(src="/public/img/icons/field.png" class="landing-icon")
                    div.col-4  
                        img(src="/public/img/icons/trophy.png" class="landing-icon")
