extends ../layout

block content

    div.columns
        div.column.col-12
            h2 Osallistu
            if success
                span.toast.toast-success= success.text
    div.columns
        div.column.col-12.pt-1-4
            -

            if activeTournaments.tournaments.length > 0 && !activeTournaments.particpatedToAll
                p Näihin turnauksiin voit vielä osallistua
                table.table
                    thead
                        th Turnaus
                        th Osallistuminen loppuu
                        th
                        th 
                    tbody
                    for tournament in activeTournaments.tournaments
                        if tournament.gamescount > 0 && !tournament.userparticipated
                            tr
                                td= tournament.name
                                td #{moment(tournament.datestarts).format('D.M.YYYY')}
                                    i (#{moment(tournament.datestarts).fromNow()})
                                td 
                                    a(href="/participate/tournament/" + tournament.id)
                                        button.btn.btn-primary Osallistu
            else
                p Ei turnauksia johon osallistua!

            

        